 //- diviser
mj-section(background-color='#ffffff' padding='0')    
    mj-column
        mj-divider(width='50%' border-width='2px' border-style='solid' border-color='#787FBD')/       
        
        
    